doctype default
!='<!-- Version ' + version + '-->'
html(lang='en')
  head
    meta(charset='utf-8')
    title=appTitle
    meta(name='description', content='Public host for my resume and projects portfolio.')
    meta(name='author', content='Sean Krail')
    link(rel='icon', href='/static/content/assets/images/ico/favicon.ico')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    // 3rd party
    //link(href='/static/bootstrap/css/theme/flatly/bootstrap.css', rel='stylesheet')
    link(href='//normalize-css.googlecode.com/svn/trunk/normalize.min.css', rel='stylesheet', type="text/css")
    link(href='/static/content/assets/css/glyphicons.css', rel='stylesheet')
    // 1st party
    link(href='/static/content/assets/css/default.css', rel='stylesheet', type='text/css')
    link(href='/static/content/assets/css/header.css', rel='stylesheet', type='text/css')
    
    block style
    
    link(href='/static/content/assets/css/footer.css', rel='stylesheet', type='text/css')
    

  body
    header(class='border', id='header')
      a(id='title', class='top', title='My Home', type='text/html', href='/home')
        h1=content.header.title
      nav
        ul
          - var i = 0
          - var length = content.header.nav.length
          each li in content.header.nav
            - i++
            li
              if i <= (length / 2)
                a(id='#{li.name === page ? "page" : ""}', type='text/html', href=li.url) !{li.name === "home" ? "" : li.text} #[span(class=li.icon, aria-hidden='true')]
              else
                a(id='#{li.name === page ? "page" : ""}', type='text/html', href=li.url) #[span(class=li.icon, aria-hidden='true')] !{li.name === "home" ? "" : li.text}


    block main


    footer(class='border', id='footer')
      ul
        - var numContact = 0
        - var length = content.footer.contacts.length
        each contact in content.footer.contacts
          - numContact++
          li
            address
              if numContact <= (length / 2)
                a(title=contact.title, href=contact.href) #{contact.text} #[span(class=contact.icon, aria-hidden='true')]
              else
                a(title=contact.title, href=contact.href) #[span(class=contact.icon, aria-hidden='true')] #{contact.text}
      a(class='btn', id='backtotop', onclick='scrollToTop("html, body")')
        span(class=content.footer.icon, aria-hidden='true')
        p=content.footer.backtotop
        p(class='copyright')!='Version ' + version + '<br>'
          small(class='copyright', title='Copyright Notice')!=content.footer.copyright
            - var date = new Date()
            time(datetime=(date.toISOString()))=date.getFullYear()


    // 3rd party
    script(src='/static/jquery/jquery.min.js')
    script(src='/static/jquery/jquery-ui.min.js')
    //script(src='/static/bootstrap/js/bootstrap.min.js')
    // 1st party
    script(src='/static/content/assets/javascript/scroll.js')
    
    block script
