extends layout


block main
  // Error messages
  div(id='length', class='alert alert-danger', role='alert', style='display:none') #[span(class='glyphicon glyphicon-exclamation-sign' aria-hidden='true')] #[span(class='sr-only') Error:] Shorten your search criteria (30-character maximum)
  div(id='letters', class='alert alert-danger', role='alert', style='display:none') #[span(class='glyphicon glyphicon-exclamation-sign' aria-hidden='true')] #[span(class='sr-only') Error:] Only letters, spaces, and a few #[i necessary] special characters are allowed in the search field
  // Search field
  form(id='searchForm', action='/projects', method='post')
    input(id='search', class='search border', name='search', type='text', pattern="^[a-zA-Z0-9 ,.'\-]+$", autocomplete='off', maxlength='60', placeholder='Search for a topic here... (e.g. VLSI, Cadence, Android, JavaScript, etc.)', oninput='verifySearchField()', required)
    button(id='submitbutton', class='btn btn-search border', form='searchForm', type='submit', value='Submit')
      span(class='glyphicon glyphicon-search', aria-hidden='true')
  // Expand/collapse all project articles
  ul(class='btn-expand-collapse border')
    li(class='btn btn-text', onclick='show()') Expand All #[span(class='glyphicon glyphicon-expand-collapse glyphicon-collapse-down' aria-hidden='true')]
    li(class='btn btn-text', onclick='hide()') #[span(class='glyphicon glyphicon-expand-collapse glyphicon-collapse-up' aria-hidden='true')] Collapse All

  // Project articles
  main
    - var numPro = 0
    each pro in content.projects
      - numPro++
      article(id='#{pro.id}Article', class='project')
        header(class='project border', id='#{pro.id}Header', title='Click to expand/collapse', onclick='toggle(\'#{pro.id}\')')
          img(title=pro.header.image.title, src=pro.header.image.src, alt=pro.header.image.alt)
          h2!=pro.header.heading
          each paragraph in pro.header.paragraphs
            p!=paragraph

        // Main content
        div(id=pro.id, class='main', style='display:none')
          - var firstHalf = true
          each section in pro.content
            if section.type === 'half'
              if firstHalf === true
                - firstHalf = false
                section(class='section-half section-half-first')
                  h4=section.title
                  each paragraph in section.paragraphs
                    p!=paragraph
              else
                - firstHalf = true
                section(class='section-half')
                  h4=section.title
                  each paragraph in section.paragraphs
                    p!=paragraph
            else if section.type === 'full'
              section(class='section-full')
                h4=section.title
                each paragraph in section.paragraphs
                  p!=paragraph
            else if section.type === 'readme'
              section(class='section-full')!=section.html
            else if section.type === 'video'
              section(class='section-full section-video')
                h4=section.title
                if section.platform === 'vimeo'
                  iframe(class=section.orientation, src=section.src)
                else
                  video(class=section.orientation, src=section.src, controls, loop, muted, preload)
            else if section.type === 'image'
              section(class='section-full section-image')
                h4=section.title
                img(class=section.orientation, title=section.title, src=section.src)

  // Expand/collapse all project articles
  div(class='btn btn-collapse btn-text border', onclick='hide()') #[span(class='glyphicon glyphicon-expand-collapse glyphicon-collapse-up' aria-hidden='true')] Collapse All #[span(class='glyphicon glyphicon-expand-collapse glyphicon-collapse-up' aria-hidden='true')]


block script
  script(src='/js/projects.min.js')
