extends layout

block style
  link(href='/static/content/assets/css/projects2.css', rel='stylesheet', type='text/css')

block main
  // Error messages
  div(id='length', class="alert alert-danger", role="alert", style='display:none') #[span(class="glyphicon glyphicon-exclamation-sign" aria-hidden="true")] #[span(class="sr-only") Error:] Shorten your search criteria (30-character maximum)
  div(id='letters', class="alert alert-danger", role="alert", style='display:none') #[span(class="glyphicon glyphicon-exclamation-sign" aria-hidden="true")] #[span(class="sr-only") Error:] Only letters, spaces, and a few #[i necessary] special characters are allowed in the search field
  // Search field
  form(id='searchform', action='/projects', method='post')
    input(id='searchfield', name='searchfield', class='search', type='text', pattern="^[a-zA-Z0-9 ,.'\-]+$", autocomplete='off', maxlength='60', placeholder='Search for a topic here... (e.g. VLSI, Cadence, Android, JavaScript, etc.)', oninput='verifySearchField()', required)
    //input(class='submit', type='submit', value='Search')
    button(id='submitbutton', form='searchform', class='btn btn-default btn-search', type='submit', value='Submit')
      span(class='glyphicon glyphicon-search', aria-hidden='true')
  // Expand/collapse all project articles
  ul(class='btn-expand-collapse')
    li(class='btn btn-default', onclick='show()') Expand All #[span(class="glyphicon glyphicon-expand-collapse glyphicon-collapse-down" aria-hidden="true")]
    li(class='btn btn-default', class='btn', onclick='hide()') #[span(class="glyphicon glyphicon-expand-collapse glyphicon-collapse-up" aria-hidden="true")] Collapse All

  // Project articles
  main
    - var numPro = 0
    each pro in content.projects.hard
      - numPro++
      article(id='#{pro.id}Article', class='project')
        header(id='#{pro.id}Header', title='Click to expand/collapse', onclick='toggle(\'#{pro.id}\')')
          h2!=pro.header.heading
          div
            img(title=pro.header.image.title, src=pro.header.image.src, alt=pro.header.image.alt)
            each paragraph in pro.header.paragraphs
              p!=paragraph

        // Main content
        each section in pro.content.sections
          if section.type == 'half'
            section(class='section-half')
              h4=section.title
              each paragraph in section.paragraphs
                p!=paragraph
          else if section.type == 'full'
            section(class='section-full')
              h4=section.title
              each paragraph in section.paragraphs
                p!=paragraph
          else if section.type == 'video'
            section(class='section-video')
              h4=section.title
              if section.platform == 'vimeo'
                iframe(src=section.src)
              else
                video(src=section.src, controls, loop, muted, preload)
          else if section.type == 'image'
            section(class='section-image')
              h4=section.title
              img(title=section.title, src=section.src)

  // Expand/collapse all project articles
  div(class='btn btn-default', class='btn-collapse', onclick='hide()') #[span(class="glyphicon glyphicon-expand-collapse glyphicon-collapse-up" aria-hidden="true")] Collapse All #[span(class="glyphicon glyphicon-expand-collapse glyphicon-collapse-up" aria-hidden="true")]
  

block script
  script(src="/static/content/assets/javascript/projects.js")
  