doctype default
!='<!-- Version ' + version + ' -->'
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title=appTitle
    meta(name='description', content='Public host for my resume and projects portfolio.')
    meta(name='author', content='Sean Krail')
    link(href='/static/images/favicon.ico', rel='icon')
    // 3rd party CSS
    //link(href='http://normalize-css.googlecode.com/svn/trunk/normalize.min.css', rel='stylesheet', type='text/css')
    link(href='/dynamic/css/normalize.min.css', rel='stylesheet')
    // 1st party CSS
    link(href='/dynamic/css/style.prefixed.min.css', rel='stylesheet')


  body
    header(id='header')
      a(id='title', class='btn border', title='My Home', type='text/html', href='/home')
        h1=content.header.title
      nav
        ul
          - var i = 0
          - var length = content.header.nav.length
          each li in content.header.nav
            - i++
            li
              if i <= (length / 2)
                if li.name === page
                  a(id='page', class='btn border', type='text/html', href=li.url) !{li.name === 'home' ? '' : li.text} #[span(class=li.icon, aria-hidden='true')]
                else
                  a(class='btn border', type='text/html', href=li.url) !{li.name === 'home' ? '' : li.text} #[span(class=li.icon, aria-hidden='true')]
              else
                if li.name === page
                  a(id='page', class='btn border', type='text/html', href=li.url) #[span(class=li.icon, aria-hidden='true')] !{li.name === 'home' ? '' : li.text}
                else
                  a(class='btn border', type='text/html', href=li.url) #[span(class=li.icon, aria-hidden='true')] !{li.name === 'home' ? '' : li.text}


    block main


    footer(id='footer')
      ul
        - var numContact = 0
        - var length = content.footer.contacts.length
        each contact in content.footer.contacts
          - numContact++
          li
            address
              if numContact <= (length / 2)
                a(class='btn border', title=contact.title, href=contact.href) #{contact.text} #[span(class=contact.icon, aria-hidden='true')]
              else
                a(class='btn border', title=contact.title, href=contact.href) #[span(class=contact.icon, aria-hidden='true')] #{contact.text}
      button(id='backtotop', class='border', onclick='scrollToTop("html, body")')
        span(class=content.footer.icon, aria-hidden='true')
        p=content.footer.backtotop
        p(class='version')!='Version ' + version


    // 3rd party JS
    script(src='/static/jquery/jquery.min.js', defer)
    script(src='/static/jquery/jquery-ui.min.js', defer)
    // 1st party JS
    script(src='/dynamic/js/scroll.min.js', defer)

    block script
